langchain>=0.1.17
langchain-core>=0.1.31
langchain-community>=0.0.21
openai>=1.14.0
tiktoken
streamlit==1.44.0
pyMuPDF
pdfplumber
pdf2image>=1.17.0
pillow>=10.0.0       # pdf2image가 의존
pytesseract>=0.3.10  # 텍스트 OCR
pandas
regex
python-dotenv
google-cloud-aiplatform

